.card__container {
  position: relative;
  width: 260px;
  min-height: 250px;
  display: flex;
  align-items: center;
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    84deg,
    rgb(32, 25, 167) 1%,
    rgb(37, 37, 228) 43%,
    rgb(0, 187, 255) 100%
  );
  border-radius: 8px;
  overflow: hidden;
 box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  .card__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 500px;
    border-radius: 70%;
    background: whitesmoke;
    p {
      position: absolute;
      top: 1%;
      right: 0;
      color: #fff;
      padding: 5px 8px;
      border-radius: 6px 0 0 6px;
    }
  }
  .card__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px 0;
    .content__text {
      text-align: center;
      display: flex;
      height: 80px;
      overflow: scroll;
      flex-direction: column;
      &::-webkit-scrollbar {
        display: none;
      }
      h1 {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .card__icon {
      font-size: 44px;
      margin-top: 1rem;
    }
    p {
      color: grey;
    }
    .card__btn {
      position: relative;
      width: 150px;
      height: 40px;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        84deg,
        rgb(32, 25, 167) 1%,
        rgb(37, 37, 228) 43%,
        rgb(0, 187, 255) 100%
      );
      border: none;
      outline: none;
      color: #fff;
      border-radius: 0 50px 0 50px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.2s ease;
      &:hover {
        width: 80%;
        box-shadow: 0 0 5px 2px rgba(11, 121, 255, 0.485);
        opacity: 0.9;
        border-radius: 50px;
      }
    }
    .disabled__card {
      opacity: 0.4;
      position: relative;
      bottom: -1rem;
      width: 150px;
      height: 40px;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        84deg,
        rgb(32, 25, 167) 1%,
        rgb(37, 37, 228) 43%,
        rgb(0, 187, 255) 100%
      );
      border: none;
      outline: none;
      color: #fff;
      border-radius: 0 50px 0 50px;
      cursor: not-allowed;
      overflow: hidden;
    }
  }
}

.test_btn {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 10px 0;
  }
  .card_resubmit {
    display: flex;
    align-items: center;
    background: transparent;
    height: 40px;
    min-width: 50%;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 5px;
    border: none;
    background-color: rgb(18, 152, 18);
    color: #fff;
  }
  .card_result {
    min-width: 50%;
    display: flex;
    align-items: center;
    background: transparent;
    height: 40px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 5px;
    border: none;
    background-color: rgb(214, 205, 29);
    color: #fff;
  }
}
