.teacher_btn {
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  height: 40px !important;
}
.admin_teacher {
  .ant-input {
    height: 40px !important;
  }
}
.ant-table{
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .ant-table-thead{
    th{
      color: #fff !important;
    }
  }
  .ant-table-tbody{
    td{
      border-color: #dadada !important;
    }
  }
}


