.ItemCard {
  background: #fff;
  padding: 2rem 1rem;
  .card__badge {
    width: 100%;
    height: 250px;
    margin-bottom: 60px;
    padding: 40px 0 10px 0;
    color: #fff;
    background: #442e66;
    .badge__content {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      h1 {
        width: 80%;
        font-weight: 500;
        margin: 24px 0;
        font-size: 24px;
        font-family: verdana;
      }
      .badge__reyting {
        li {
          p {
            font-size: 17px;
            font-weight: 200;
          }
        }
        .icon {
          fill: #2572ff;
          font-size: 20px;
        }
      }
    }
  }
  .content {
    img {
      max-width: 100%;
      width: auto;
    }
  }
  .ant-tabs-nav {
    margin-bottom: 3rem;
  }
  .ant-tabs-tab {
    width: 206px;
    margin: 0 !important;
    border: 1px solid rgba(204, 204, 204, 0.3);
    background: #f1f2f8;
    display: block;
    padding: 18px 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
  }
  .ant-tabs-tab-active {
    background: #fff;
    color: #2572ff;
  }

  .izohCard {
    .ant-card-head {
      background: #fff !important;
    }
    .ant-card-body {
      border-top: 1px solid rgba(211, 211, 211, 0.356);
      overflow: scroll;
      background: #fff;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .emptyBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    img {
      width: 100%;
      max-width: 200px;
    }
    h1 {
      font-weight: 400;
      color: #252525;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 745px) {
  .badge__content {
    h1 {
      font-size: 18px !important;
    }
  }

  .ant-tabs-tab {
    width: 100px !important;
    padding: 8px !important;
    font-size: 16px !important;
  }
  .teaser {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 545px) {
  .card__badge {
    padding: 5% !important;
  }
  .badge__content {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 16px !important;
      margin: 10px 0 !important;
      margin-bottom: 15px !important;
    }
  }
  .badge__reyting {
    p {
      font-size: 14px !important;
    }
  }
  .ant-tabs-tab {
    width: 100px !important;
    padding: 8px !important;
    font-size: 16px !important;
  }
  .teaser {
    font-size: 16px !important;
  }
  .pdfViewBtn {
    font-size: 14px !important;
  }
}
