.title{
  padding: 0.5rem 1rem;
  background: rgb(2, 180, 180);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1.5px;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  margin: 1rem 0;
}