.test {
  width: 95%;
  height: 100%;
  margin: auto auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .timer_wrapper {
    flex-wrap: wrap;
    gap: 15px;
    .timer {
      width: auto;
      padding: 0 1rem;
      height: 60px;
      background: #1677ff;
      color: #fff;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width:565px) {
        width: 100%;
      }
    }
  }
  .test__finish {
    width: 120px;
    margin-left: auto;
    background: green;
    color: #fff;
    @media screen and (max-width:565px) {
      width: 100%;
    }
  }
  .test__part {
    h1 {
      margin: 1rem 0;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .test__questions {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 1rem;
    border: 1px solid lightgrey;
    transition: all 0.2s ease;
    &:hover {
      background: #1677ff;
      color: #fff;
    }
  }
  .control__btns {
    margin: 2rem 0;
    flex-wrap: wrap;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080808 !important;
  min-width: 50px;
}
