.test {
  flex: 1;
  height: 100%;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  overflow: scroll;
  background: #fff;
  &::-webkit-scrollbar {
    display: none;
  }
  .timer_wrapper {
    flex-wrap: wrap;
    gap: 15px;
    .timer {
      width: auto;
      padding: 0 1rem;
      height: 60px;
      background: #1677ff;
      color: #fff;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 565px) {
        width: 100%;
      }
    }
  }
  .test__finish {
    width: 120px;
    height: 40px;
    margin-left: auto;
    color: #fff;
    background: green;
    border: 1px solid green !important;
    &:hover {
      background: #fff;
      color: green;
    }
    color: #fff;
    @media screen and (max-width: 565px) {
      width: 100%;
    }
  }

  .test__part {
    h1 {
      margin: 1rem 0;
      font-size: 24px;
      font-weight: 600;
      @media screen and (max-width: 565px) {
        font-size: 18px;
      }
    }
  }
  .test__questions {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 1rem;
    border: 1px solid lightgrey;
    margin: 0.5rem 0;
    transition: all 0.2s ease;
    font-size: 18px;
    @media screen and (max-width: 565px) {
      font-size: 14px;
    }

    &:hover {
      background: #1677ff;
      color: #fff;
    }
  }
  .control__btns {
    margin: 2rem 0;
    flex-wrap: wrap;
  }
  .ant-pagination-next {
    button {
      height: 40px;
      span {
        color: #fff;
      }
      svg {
        color: #fff;
      }
    }
    &:hover {
      span {
        color: #1677ff;
      }
      svg {
        color: #1677ff;
      }
    }
  }
  .ant-pagination-prev {
    button {
      height: 40px;
      span {
        color: #fff;
      }
      svg {
        color: #fff;
      }
    }
    &:hover {
      span {
        color: #1677ff;
      }
      svg {
        color: #1677ff;
      }
    }
  }
  .ant-pagination-disabled {
    button {
      height: 40px;
      span {
        color: #252525 !important;
      }
      svg {
        color: #252525 !important;
      }
    }
  }
}

.drawer {
  width: 15vw;
  height: 100vh;
  background: #ffffff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080808 !important;
  min-width: 50px;
}
