.createSubject_teacher {
  .ql-editor {
    min-height: 200px;
  }
}
.create_subject {
  .ant-modal-content {
    min-height: 300px !important;
  }
}
#pdf {
  display: none;
}
#video {
  display: none;
}
.uploadLabelPDF {
  min-height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  background: #08719e;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 4px #afd7e8ad;
  }
  &:active {
    transform: scale(0.98);
  }
}
.uploadLabelVideo {
  min-height: 40px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  background: #f57d3c;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 4px #f3b79a92;
  }
  &:active {
    transform: scale(0.98);
  }
}

.disabled {
  min-height: 40px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 1px;
  background: lightgrey;
  cursor: not-allowed;
}
