#pdf {
  display: none;
}
#video {
  display: none;
}
.closePdf {
  float: right;
  background: red;
  border-color: red;
  border-radius: 4px;
  &:hover {
    color: red !important;
    border-color: red !important;
  }
}
.closeVideo {
  float: right;
  background: red;
  border-color: red;
  border-radius: 4px;
  &:hover {
    color: red !important;
    border-color: red !important;
  }
}
.videoWrapper {
  margin: 1rem 0;
  background: linear-gradient(
    0deg,
    rgba(34, 110, 195, 1) 0%,
    rgba(45, 161, 253, 0.9585084033613446) 100%
  );
  border-radius: 4px;
}
.pdfWrapper {
  margin: 1rem 0;
  background: linear-gradient(
    0deg,
    rgba(34, 110, 195, 1) 0%,
    rgba(45, 161, 253, 0.9585084033613446) 100%
  );
  border-radius: 4px;
}

.uploadLabelPDF {
  min-height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  background: #08719e;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 4px #afd7e8ad;
  }
  &:active {
    transform: scale(0.98);
  }
}
.uploadLabelVideo {
  min-height: 40px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  background: #f57d3c;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 4px #f3b79a92;
  }
  &:active {
    transform: scale(0.98);
  }
}

.disabled {
  min-height: 40px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 1px;
  background: lightgrey;
  cursor: not-allowed;
}

// Responsive
@media screen and (max-width: 565px) {
  .ant-card-body {
    padding: 15px !important;
  }
  .uploadLabelPDF {
    width: 120px;
    height: 20px !important;
    font-size: 12px !important;
    padding: 0px !important;
  }
  .uploadLabelVideo {
    width: 120px;
    height: 20px !important;
    font-size: 12px !important;
    padding: 0px !important;
  }
  .add-button {
    width: 120px;
    height: 30px !important;
    font-size: 12px !important;
    padding: 0px !important;
  }
  .restore-btn {
    width: 50px;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0px !important;
  }
}
