.subject_select {
  width: 100% !important;
  margin: 1rem 0;
  .ant-select-selector{
    height: 40px !important;
    border-radius: 2px;
  }
}
.ant-table{
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .ant-table-thead{
    th{
      color: #fff !important;
    }
  }
  .ant-table-tbody{
    td{
      border-color: #dadada !important;
    }
  }
}
