.category__wrapper {
  width: 100%;
  box-shadow: 0 0 1px lightgrey;
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  .subject_select {
    width: 100% !important;
    margin: 0.5rem 0;
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.519);
    .ant-select-selector {
      height: 40px !important;
      border-radius: 4px;
    }
  }
}
.list {
  margin: 2rem 0;
}
.emptyBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    width: 100%;
    max-width: 200px;
  }
  h1 {
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
  }
}
