.category__wrapper {
  width: 100%;
  box-shadow: 0 0 1px lightgrey;
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  .subject_select {
    width: 100% !important;
    margin: 0.5rem 0;
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.519);
    .ant-select-selector {
      height: 40px !important;
      border-radius: 4px;
    }
  }
}
.list {
  margin: 2rem 0;
}
