.layout {
  width: 100%;
  height: 100vh;
  .ant-layout-sider {
    box-shadow: 0 0 2px lightgrey;
  }
  .ant-layout-header {
    box-shadow: 0 0 2px lightgrey;
  }
  .layout_content {
    overflow: scroll;
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px lightgrey;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.icon {
  font-size: 22px !important;
}
.menuBurger {
  display: none;
}
.ant-drawer-body {
  padding: 0px !important;
}
.logOut {
  background: cornflowerblue;
  border: none;
  color: #fff;
  &:hover {
    color: #fff !important;
  }
}
.sizeChanger {
  background: cornflowerblue;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #fff !important;
  }
}

@media screen and (max-width: 565px) {
  .layout_content {
    padding: 15px !important;
    margin: 15px 8px !important;
  }
  .ant-layout-header{
    margin: 0px 8px !important;
  }
  .ant-card-body{
    padding: 15px !important;
  }
  .siderTeacher {
    display: none;
  }
  .sizeChanger {
    display: none;
  }
  .menuBurger {
    display: block;
    background: cornflowerblue;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #fff !important;
    }
  }
}
