.layout {
  width: 100%;
  min-height: 100vh;
  .site-layout {
    background: linear-gradient(rgba(00, 00, 00, 0.1), rgba(00, 00, 00, 0.1)),
      url("../../assets/bgImg/2.jpg") center no-repeat fixed;
  }
  .ant-layout-sider {
    box-shadow: 0 0 2px lightgrey;
  }
  .ant-layout-header {
    box-shadow: 0 0 2px lightgrey;
    position: sticky;
    top: 0px;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
    padding: 0 1rem;
    margin: 0 1rem;
    box-shadow: 0 0 8px lightgrey;
  }
  .layout_content {
    overflow: scroll;
    height: 100%;
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    background: transparent !important;
    border-radius: 10px;
    box-shadow: 0 0 2px lightgrey;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .siderTeacher {
    height: 100vh;
    position: sticky;
    top: 0px;
  }
}
.icon {
  font-size: 22px !important;
  color: whitesmoke;
}
.menuBurger {
  display: none;
  background: transparent !important;
}
.ant-drawer-body {
  padding: 0px !important;
}
.logOut {
  border: none;
  color: #fff;
  background: transparent !important;

  &:hover {
    color: #fff !important;
  }
}
.sizeChanger {
  background: transparent !important;
  border: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #fff !important;
  }
}

@media screen and (max-width: 565px) {
  .layout_content {
    padding: 15px !important;
    margin: 15px 8px !important;
  }
  .ant-layout-header {
    margin: 0px 8px !important;
  }
  .ant-card-body {
    padding: 15px !important;
  }
  .siderTeacher {
    display: none;
  }
  .sizeChanger {
    display: none;
  }
  .menuBurger {
    display: block;
    background: cornflowerblue;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #fff !important;
    }
  }
}
