.ant-card-body {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.ant-table {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .ant-table-thead {
    th {
      color: #fff !important;
    }
  }
  .ant-table-tbody {
    td {
      border-color: #dadada !important;
    }
  }
}
