.mycourse__wrapper {
  .ant-card {
    background: linear-gradient(rgb(255, 255, 255), rgb(233, 233, 233)) !important;
  }
  .ant-card-head{
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(232, 230, 230, 0.7));
  }
  .ant-card-body {
    background: #fff;
  }
}
