.ItemCard {
  .content {
    img {
      max-width: 100%;
      width: auto;
    }
  }
  .card {
    margin: 2rem 0;
    padding:2rem 5%;
    background: ghostwhite;
  }
}
.wrapperComment {
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid rgb(235, 233, 233);
  border-radius: 6px;
  background: whitesmoke;
}
.izohCard {
  .ant-card-head {
    background: #fff !important;
  }
  .ant-card-body {
    border-top: 1px solid rgba(211, 211, 211, 0.356);
    overflow: scroll;
    background: #fff;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.teacher__subject__content {
  width: 100%;
  padding: 0 5%;

  img {
    width: 80%;
    max-width: 100%;
  }
}
